""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister

set clipboard+=unnamed
set clipboard+=ideaput

set ideajoin
set idearefactormode=keep

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Mappings --------------------------------
map <leader>f <Plug>(easymotion-f)
map <leader>w <Plug>(easymotion-w)
map <leader>b <Plug>(easymotion-b)
map <leader>e <Plug>(easymotion-s)

map <leader>r <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
map <leader>q <Action>(QuickChangeScheme)
